@import "colors.less";
@import "dimensions.less";

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: 'Source Sans Pro Regular', 'Source Sans Pro';
	font-size: @font-size-normal;
	background-color: @bh-light-gray;
	margin: 0;
}

.app-header {
	height: @app-header-height;
	background-color: black;

	.app-header__logo {
		display: inline-block;
		width: @logo-width;
		vertical-align: middle;
		background-color: @bh-red;
	}
	.app-header__dropdowns {
		width: ~"calc(100% - "@logo-width~" - 5px)";
		display: inline-flex;
		vertical-align: middle;
		color: @bh-medium-gray;
	}
	.app-header__dropdown {
		padding: 0 1em;
		vertical-align: middle;
	}
	.app-header__dropdown::after {
		content: "▼";
		font-size: 40%;
		margin-left: .5em;
		vertical-align: middle;
	}
	.app-header__dropdown--user {
		color: @bh-blue;
		margin-left: auto;
	}
}

.hub-header {
	height: @hub-header-height;
	background-color: white;
	color: @bh-medium-gray;
	white-space: nowrap;

	.hub-header__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		width: @hub-width;
		margin: 0 auto;
	}

	.hub-header__name {
		font-size: @font-size-large;
		margin-right: 1em;
	}
	.hub-header__name::after {
		font-size: @font-size-normal;
		font-family: FontAwesome;
		content: "\f040";
		margin-left: .5em;
	}

	.hub-header__tabs {
		font-size: @font-size-large;
	}
	.hub-header__tab {
		padding: 0 25px;
		border-right: 1px solid @bh-light-gray;
	}
	.hub-header__tab--selected {
		display: inline-block;
		height: @hub-header-height;
		line-height: @hub-header-height;
		background: @bh-blue;
		color: white;
		position:relative;
	}
	.hub-header__tab--selected::after {
		color: @bh-blue;
		position:absolute;
		content: "▼";
		// need to match, based on icon size
		line-height:15px;
		bottom:-15px;
		left: 0;
		right: 0;
		text-align: center;
	}
	.hub-header__tab:last-child {
		border-right: 0;
	}

	.hub-header__add-content {
		> span {
			vertical-align: middle;
		}
	}
	.hub-header__add-content::before {
		font-family: FontAwesome;
		font-size: @font-size-large;
		content: "\f055";
		vertical-align: middle;
		color: @bh-blue;
		margin-right: 6px;
		position: relative;
		top: 1px;
	}
	.hub-header__add-content::after {
		font-family: FontAwesome;
		content: "\f29c";
		vertical-align: middle;
		color: @bh-blue;
	}
}

.hub-controls {
	display: flex;
	position: relative;
	height: @hub-controls-height;
	width: @hub-width;
	margin:15px auto 0 auto;
	border-bottom: 2px solid white;
	color: @bh-dark-gray;
	white-space: nowrap;

	.hub-controls__tabs {
		height: 100%;
		display: inline-flex;
		align-items: center;
	}

	.hub-controls__tab {
		display: inline-block;
		padding: 0 1em;
	}

	.hub-controls__tab:last-child {
		margin-right: 0;
	}

	.hub-controls__tab--selected {
		height: 100%;
		display: flex;
		align-items: center;
		background-color: white;
		color: @bh-blue;

		.fa:after {
			content: "\00a0"
		}
	}

	.hub-controls__dropdowns {
		display: inline-flex;
		align-items: flex-end;
		margin-left: auto;
		font-size: @font-size-small;
	}

	.hub-controls__dropdown {
		background-color: white;
		margin-right: 5px;
		text-align: center;
		line-height: @hub-controls-dropdown-height;
		height: @hub-controls-dropdown-height;
		width: @hub-controls-dropdown-width;
	}

	.hub-controls__dropdown:last-child {
		margin-right: 0;
	}

	.hub-controls__dropdown::after {
		content: "▼";
		font-size: 40%;
		margin-left: .5em;
		vertical-align: middle;
	}

	.hub-controls__moderation-settings {
		position: absolute;
		right: 0;

		> span {
			vertical-align: middle;
		}
	}

	.hub-controls__moderation-settings::before {
		font-family: FontAwesome;
		content: "\f013";
		vertical-align: middle;
	}
}

.hub-frame {
	width: @hub-width;
	margin: 0 auto;
	height: ~'calc(100% - '@aggregate-header-height~')';

	> iframe {
		display: block;
		width: 100%;
		height: 100%;
		border: 0;
	}
}