<script type="text/stache" can-autorender id="demo">
  <can-import from="bithub-admin/components/dropdown-menu/" />
  <dropdown-menu {items}="items" class="component" {button-title}="title" />
</script>
<script src="../../../node_modules/steal/steal.js" main="can-view-autorender">
  import DefineMap from "can-define/map/";
  import {can} from "bithub-admin/utils/debug-util/";

    let items = [{
      title: 'Account Settings',
      icon: '',
      seperator: false,
      action: function() {}
    }, {
      title: 'Logout',
      icon: '',
      seperator: false,
      action: function() {}
    }];

  let element = can.$("#demo");
  let vm = can.viewModel(element[0]);
  vm.set("items",items);
  vm.set("title",'My dropdown');
</script>
