@import "../../styles/colors.less";
@import "../../styles/dimensions.less";

bithub-header {
	height: @app-header-height;
	background-color: black;
	
	.bithub-header__logo {
		display: inline-block;
		width: @logo-width;
		vertical-align: middle;
		background-color: @bh-red;
	}
	.bithub-header__dropdowns {
		width: ~"calc(100% - "@logo-width~" - 5px)";
		display: inline-flex;
		vertical-align: middle;
		color: @bh-medium-gray;
	}
	
	.bithub-dropdown-menu {
		padding: 0 1em;
		vertical-align: middle;
	}

	.bithub-dropdown-menu::after {
		content: "▼";
		font-size: 6pt;
		margin-left: .5em;
		vertical-align: middle;
	}
	
	.bithub-dropdown-menu__account {
		color: @bh-blue;
		margin-left: auto;
	}
}